ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.blog-list {}

.blog-list .list-item-left {
    /* margin-left: 330px; */
    margin-top: 20px;
}

.list-item-left a {
    font-size: 25px;
    color: #000;
}

.blog-list .list-item-right {
    /* margin-left: -330px; */
    margin-top: 20px;
}

.list-item-right a {
    font-size: 25px;
    color: #fff;
}
